# phpstorm project files
.idea

# vs code project files
.vscode

# composer vendor dir
/vendor/

# Mac DS_Store files
.DS_Store

# php-cs-fixer cache
/.php_cs.cache
/.php-cs-fixer.cache

# phpunit cache
/config/.phpunit.result.cache
