<?xml version="1.0" encoding="UTF-8"?>
<!-- https://phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd" colors="true" stopOnFailure="true" bootstrap="vendor/autoload.php">
  <coverage processUncoveredFiles="true">
    <include>
      <directory>src</directory>
    </include>
    <exclude>
      <!-- Internal -->
      <file>src/preload.php</file>
      <file>src/bootstrap.php</file>
      <directory>src/Psl/Internal</directory>

      <!-- Base Exceptions -->
      <directory>src/Psl/Exception</directory>

      <!-- Constants -->
      <file>src/Psl/Str/constants.php</file>
      <file>src/Psl/Math/constants.php</file>
      <file>src/Psl/Filesystem/constants.php</file>

      <!-- Things that are not easily tested -->
      <file>src/Psl/Filesystem/get_group.php</file>
      <file>src/Psl/Filesystem/change_group.php</file>
      <file>src/Psl/Filesystem/Internal/change_group.php</file>
      <file>src/Psl/Filesystem/get_owner.php</file>
      <file>src/Psl/Filesystem/change_owner.php</file>
      <file>src/Psl/Filesystem/Internal/change_owner.php</file>
    </exclude>
    <report>
      <clover outputFile="tests/logs/clover.xml"/>
    </report>
  </coverage>
  <php>
    <ini name="error_reporting" value="-1"/>
  </php>
  <testsuites>
    <testsuite name="PHP Standard Library">
      <directory>tests/Psl</directory>
    </testsuite>
  </testsuites>
  <logging/>
</phpunit>
