name: "code coverage"

on: 
  pull_request: ~
  push: ~

jobs:
  code-coverage:
    name: "code coverage"

    runs-on: "ubuntu-latest"

    steps:
      - name: "checkout"
        uses: "actions/checkout@v2"

      - name: "installing PHP"
        uses: "shivammathur/setup-php@2.11.0"
        with:
          php-version: "8.0"
          ini-values: memory_limit=-1
          tools: composer:v2, cs2pr
          extensions: bcmath, mbstring, intl, sodium, json

      - name: "installing dependencies"
        run: |
          make install-root-dependencies
          make install-unit-tests-dependencies

      - name: "sending code coverage to coveralls"
        env:
          COVERALLS_REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: make code-coverage
