name: "documentation check"

on: 
  pull_request: ~
  push: ~

jobs:
  doc-check:
    name: "documentation check"
    runs-on: "ubuntu-latest"
    steps:
      - name: "checkout"
        uses: "actions/checkout@v2"

      - name: "installing PHP"
        uses: "shivammathur/setup-php@2.11.0"
        with:
          php-version: "7.4"
          ini-values: memory_limit=-1
          tools: composer:v2, cs2pr
          extensions: bcmath, mbstring, intl, sodium, json

      - name: "checking if documentation is up-to-date."
        run: "php docs/documenter.php check"
